/* Slide Started */

.hmls-slide-wrapper {
    max-width: 1200px;
    margin: auto;
    background: transparent;
    overflow: hidden;
    padding: 0;
}

.hmls-slide-wrapper>.hmls-slide-item {
    height: 150px;
    border: 0px solid #DDD;
}


/* Slide Ended */


/* Grid Started */

.hmls-logo-main-wrapper {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-gap: 0px;
    padding: 0px;
}

.hmls-logo-main-wrapper>.hmls-logo-item {
    border: 1px solid #DDD;
    height: 150px;
    margin-right: 0px;
    margin-bottom: 0px;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); */
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.hmls-logo-main-wrapper>.hmls-logo-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 99;
    background: #ffffff;
}

.hmls-logo-main-wrapper>.hmls-logo-item>a>img {
    display: block;
    width: 70%;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}





/* Grid Ended */

.hmls-logo-main-wrapper>.hmls-logo-item>a,
.hmls-slide-wrapper>.hmls-slide-item>a {
    text-decoration: none !important;
    outline: none !important;
    border: none !important;
    height: 150px;
    max-height: 100%;
    border: 0px solid #000!important;
    display: inline-block;
    min-height: 10px;
    width: 100%;
}

.splide__track {
    overflow: visible;
}

.splide {
    padding: 0;
}

.splide__slide {
    height: 200px;
    text-align: center;
    position: relative;
    color: #fff;
    background-color: transparent;
    overflow: visible;
    line-height: 1.5;
    transition: border-color .15s cubic-bezier(.54, .01, .1, 1), background-color .15s cubic-bezier(.54, .01, .1, 1);
}

.splide__slide.is-active {
    background: #13c59d;
    border-color: #13c59d;
    /*
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    
    */
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    z-index: 99;
}

.splide__slide a img {
    display: block;
    width: auto;
    height: 50px;
    max-height: 80%;
    max-width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.splide__progress__bar {
    margin: 20px 0 10px 0;
}

.splide__autoplay {
    text-align: center;
    margin-top: 10px;
}

.splide__pagination {
    bottom: -20px;
}

.splide__play,
.splide__pause {
    height: 2em;
    line-height: 2em;
    border-radius: 1em;
    padding: 0 .8em;
    background: #3d4040;
    color: #fff;
    transition: all .2s cubic-bezier(.54, .01, .1, 1);
}

.splide__play:hover,
.splide__pause:hover {
    background: #fff;
    color: #3d4040;
}


/* slick started */

.hmls-view-slide {
    margin: 0 auto;
    padding: 0 45px;
}

.hmls-slide-wrapper .slick-dots {
    width: 50%;
    margin: 0 auto;
    display: block;
    position: relative;
}

.hmls-slide-wrapper .slick-dots li button:before {
    content: '';
    opacity: 1;
}

.hmls-slide-wrapper .slick-dots li button {
    border-radius: 50%;
    background: #999;
    width: 12px;
    height: 12px;
}

.hmls-slide-wrapper .slick-dots li.slick-active button {
    background: #333333;
}

.hmls-view-slide .slick-prev,
.hmls-view-slide .slick-next {
    background: #999;
    color: #fff;
    height: 25px;
    width: 25px;
    z-index: 9999;
    border-radius: 50%;
}

.hmls-view-slide .slick-prev {
    left: 0;
}

.hmls-view-slide .slick-next {
    right: 0;
}

.hmls-view-slide .slick-prev:hover,
.hmls-view-slide .slick-next:hover,
.hmls-view-slide .slick-prev:focus,
.hmls-view-slide .slick-next:focus {
    background: #555;
}


/* slick Ended */





/************************ 
Default Template Started 
************************/

.hmls-slide-wrapper.default {
    background-color: transparent;
    padding: 0;
}

.hmls-slide-wrapper.default .hmls-view-slide .splide__slide {
    height: 100px;
    background-color: transparent;
    border-radius: 0px;
    border-width: 0px;
    margin: 0;
}

.hmls-slide-wrapper.default .hmls-view-slide .slick-slide {
    margin: 0px;
}


/************************ 
Default Template Ended 
************************/


/************************ 
Classic Template Started 
************************/

.hmls-slide-wrapper.classic {
    background-color: transparent;
    padding: 0;
}

.hmls-slide-wrapper.classic .hmls-view-slide .splide__slide {
    height: 120px;
    background-color: #EAEAEA;
    border-radius: 0px;
    border-width: 0px;
    margin: 0;
    border-radius: 8px;
}

.hmls-slide-wrapper.classic .hmls-view-slide .slick-slide {
    margin: 0px 10px;
}

.hmls-slide-wrapper.classic .hmls-view-slide .slick-prev::before,
.hmls-slide-wrapper.classic .hmls-view-slide .slick-next::before {
    color: #242424;
}

.hmls-slide-wrapper.classic .hmls-view-slide .slick-prev,
.hmls-slide-wrapper.classic .hmls-view-slide .slick-next {
    border: 1px solid #999;
    background: transparent;
    border-radius: 20px;
}

.hmls-slide-wrapper.classic .hmls-view-slide .slick-prev:hover,
.hmls-slide-wrapper.classic .hmls-view-slide .slick-next:hover,
.hmls-slide-wrapper.classic .hmls-view-slide .slick-prev:focus,
.hmls-slide-wrapper.classic .hmls-view-slide .slick-next:focus {
    background: #999;
    color: #FFF;
}


/************************ 
Classic Template Ended 
************************/

@media only screen and (min-width: 1025px) {
    .hmls-logo-main-wrapper.hmls-cols-desktop-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .hmls-logo-main-wrapper.hmls-cols-desktop-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .hmls-logo-main-wrapper.hmls-cols-desktop-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .hmls-logo-main-wrapper.hmls-cols-desktop-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .hmls-logo-main-wrapper.hmls-cols-desktop-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    .hmls-logo-main-wrapper.hmls-cols-desktop-7 {
        grid-template-columns: repeat(7, 1fr);
    }
    .hmls-logo-main-wrapper.hmls-cols-desktop-8 {
        grid-template-columns: repeat(8, 1fr);
    }
    .hmls-logo-main-wrapper.hmls-cols-desktop-9 {
        grid-template-columns: repeat(9, 1fr);
    }
    .hmls-logo-main-wrapper.hmls-cols-desktop-10 {
        grid-template-columns: repeat(10, 1fr);
    }
}

@media only screen and (max-width: 1024px) and (min-width: 501px) {
    .hmls-logo-main-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 500px) {
    .hmls-logo-main-wrapper {
        display: block;
        border: 1px solid #000;
    }
    .hmls-logo-main-wrapper>.hmls-logo-item {
        width: 100%;
    }
    .hmls-logo-main-wrapper>.hmls-logo-item>a>img {
        display: block;
    }
}